# Python
__pycache__/
*.py[cod]
*.pyo

# Ambientes virtuais
.venv/
venv/
env/

# IDE / sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Segredos
.env
*.env

# Logs temporários
*.log
